<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246633292825-vq1t2ae00rmm46md44o0rdpsgjku3nvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246633292825-vq1t2ae00rmm46md44o0rdpsgjku3nvg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246633292825-f551ggoa3b6fnji5ug7cmmse6ieks6fn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7YslBLSlrmz9OB0qLernep35FdBaMuRg</string>
	<key>GCM_SENDER_ID</key>
	<string>246633292825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islamdidarmd.workout-buddy-finder.dev</string>
	<key>PROJECT_ID</key>
	<string>workout-buddy-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-buddy-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246633292825:ios:165a75a5bb883c9d253688</string>
</dict>
</plist>