<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246633292825-gf12qrsdeac6l62433ib7ulckukfckad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246633292825-gf12qrsdeac6l62433ib7ulckukfckad</string>
	<key>API_KEY</key>
	<string>AIzaSyA7YslBLSlrmz9OB0qLernep35FdBaMuRg</string>
	<key>GCM_SENDER_ID</key>
	<string>246633292825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjectTemplate</string>
	<key>PROJECT_ID</key>
	<string>workout-buddy-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-buddy-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246633292825:ios:677e53d5f8fdd625253688</string>
</dict>
</plist>